p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  margin-bottom: 5px;
  line-height: 24px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.channel-owner {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 15px;
}
.review {
  width: 280px;
  color: rgb(96, 96, 96);
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}

.apple-button {
  background-color: rgb(201, 51, 51);
  color: white;
  border:none;
  margin-top: 100px;
  padding-left: 438px;
  padding-right: 438px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  font-size: 13px;
}

.text {
  cursor: pointer;
}
.text:hover {
  text-decoration: underline;
}